<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Меню</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Головна</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/employees/new">Добавити працівника</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/departments/new">Добавити завод</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/jobs/new">Добавити ранг</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/job-history/new">Добавити історію працівника</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/locations/new">Добавити локацію</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/countries/new">Добавити країну</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/regions/new">Добавити регіон</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/employees">Працівники</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/departments">Департаменти</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/jobs">Ранги</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/job-history">Історії працівників</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/regions">Регіони</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/countries">Країни</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/locations">Локації</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/search">Пошук</a>
      </nav>
    </div>
    </header>
    {% block menu %}{% endblock %}
</body>
</html>