{% extends 'base.html' %}

{% block title %}
Create location
{% endblock %}

{% block menu %}
<div class="py-5 text-center">
      <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Створення нової локації</font></font></h2>
      <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Нижче наведено приклад форми, які потрібно заповнити. </font><font style="vertical-align: inherit;">Заповніть усі дані та натисніть Добавити.</font></font></p>
    </div>
<div class="col-md-7 col-lg-8">
        <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Нова локація</font></font></h4>
        <form method = 'post'>
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="location_id" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID локації</font></font></label>
              <input type="text" class="form-control" name="location_id" id="location_id" placeholder="ID локації" value="" required="">
              <div class="invalid-feedback">
                Please enter location_id.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="street_address" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Адрес</font></font></label>
              <input type="text" class="form-control" name="street_address" id="street_address" placeholder="Адресс " value="" required="">
              <div class="invalid-feedback">
                Please enter street_address.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="postal_code" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Поштовий код</font></font></label>
              <input type="text" class="form-control" name="postal_code" id="postal_code" placeholder="Поштовий код" value="" required="">
              <div class="invalid-feedback">
                Please enter postal_code.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="city" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Місто</font></font></label>
              <input type="text" class="form-control" name="city" id="city" placeholder="Місто" value="" required="">
              <div class="invalid-feedback">
                Please enter city.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="state_province" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Область</font></font></label>
              <input type="text" class="form-control" name="state_province" id="state_province" placeholder="Район" value="" required="">
              <div class="invalid-feedback">
                Please enter state_province.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="country_id" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID країни</font></font></label>
              <input type="text" class="form-control" name="country_id" id="country_id" placeholder="ID країни" value="" required="">
              <div class="invalid-feedback">
                Please enter country_id.
              </div>
            </div>

            <input type='submit' class="btn btn-success" value="Добавити">
          </div>
        </form>
</div>
{% endblock %}