{% extends 'base.html' %}

{% block title %}
Update jobs
{% endblock %}

{% block menu %}
<div class="py-5 text-center">
      <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Редагування рангу роботи</font></font></h2>
      <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Нижче наведено приклад форми, які можна редагувати. </font><font style="vertical-align: inherit;">Редагуйте дані та натисніть Оновити.</font></font></p>
    </div>
<div class="col-md-7 col-lg-8">
        <h4 class="mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></h4>
        <form method = 'post'>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="job_id" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID рангу</font></font></label>
              <input type="text" class="form-control" name="job_id" id="job_id" placeholder="ID Рангу" value="{{ job.job_id }}" required="">
              <div class="invalid-feedback">
                Please enter job id.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="job_title" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Назва рангу</font></font></label>
              <input type="text" class="form-control" name="job_title" id="job_title" placeholder="Назва рангу" value="{{ job.job_title }}" required="">
              <div class="invalid-feedback">
                Please enter job_title.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="min_salary" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мінімальна зарплата</font></font></label>
              <input type="text" class="form-control" name="min_salary" id="min_salary" placeholder="Мінімальна зарплата" value="{{ job.min_salary }}" required="">
              <div class="invalid-feedback">
                Please enter min_salary.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="max_salary" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Максимальна зарплата</font></font></label>
              <input type="text" class="form-control" name="max_salary" id="max_salary" placeholder="Максимальна зарплата" value="{{ job.max_salary }}" required="">
              <div class="invalid-feedback">
                Please enter max_salary.
              </div>
            </div>

            <input type='submit' class="btn btn-success" value="Оновити">
          </div>
        </form>
</div>
{% endblock %}